#container-cadastroDados{
    display: flex;
    width: 100%;
    height: 100%;
}

.main_cadastroDados{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: #f4f4f9;
    height: 100%;
}

h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.cadastroDados__form-row{
    display: flex;
    flex-direction: row;
}

.cadastroDados__form-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.container__btnSubmit{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: 600;
    text-indent: 1em;
}
.cadastroDados__form-column__row{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 1em;
}

.secao_cadastroDados__container-form__row-line{
    display: flex;
    width: 100%;
}

.cadastroDados__form-column__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.btn_upload{
    height: 50%;
    border-radius: 2em;
    margin-right: 1em;
    background-color: #2b81f1;
    color: #fff;
    font-weight: bold;
    font-style: oblique;
}

.cadastroDados__form-column__imgUpload{
    display: flex;
    width: 90%;
    height: 15em;
    flex-direction: column;
    border: 1px solid #808080;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 0.5em;
}

.cadastroDados__form-column__imgUpload img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input, textarea, select {
    display: flex;
    width: 100%;
    border-radius: 0.5em;
    text-indent: 1em;
}

textarea{
    height: 6em;
}

.btn_submit{
    display: flex;
    width: 10em;
    text-align: center;
    justify-content: center;
    border-radius: 2em;
    background-color: #2b81f1;
    color: #fff;
    font-weight: bold;
    font-size: 16px; 
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    margin-bottom: 2em;
}

.btn-click:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    background-color: #7baae7;
    cursor: pointer;
}

.btn_submit:disabled {
    background-color: #fff;
    color: #cacaca;
    border: 1px solid rgb(154, 154, 154);
    cursor: default;
}

.fieldInvalid{
    color: #f0486a;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content p {
    margin: 0;
    color: #28a745; /* Cor verde para sucesso */
    font-weight: bold;
}
