<section class="header-platform">
    <nav class="header-platform-menu">
        <ul [ngClass]="{
            'header-platform-list': !isPlataformaAdmin,
            'header-platform-list-admin': isPlataformaAdmin
            }">
            @if (!isPlataformaAdmin){
                <li 
                    class="header-platform-item" class="btn btn-outline-primary" 
                    routerLink="/plataforma" 
                    routerLinkActive="active"
                    type="button"
                >Cadastro Home</li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                        <li><a class="dropdown-item" routerLink="/plataforma/dashboard" routerLinkActive="active">Dashboard</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownHerois" data-bs-toggle="dropdown" aria-expanded="false">
                        Heróis
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownHerois">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-heroes" routerLinkActive="active">Lista de Heróis</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/heroi" routerLinkActive="active">Cadastro de Heróis</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownStudios" data-bs-toggle="dropdown" aria-expanded="false">
                        Studios
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownStudios">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-studio" routerLinkActive="active">Lista de Studios</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/studio" routerLinkActive="active">Cadastro de Studios</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownEquipes" data-bs-toggle="dropdown" aria-expanded="false">
                        Equipes
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownEquipes">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-team" routerLinkActive="active">Lista de Equipes</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/team" routerLinkActive="active">Cadastro de equipes</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownArtigos" data-bs-toggle="dropdown" aria-expanded="false">
                        Artigos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownArtigos">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-artigos" routerLinkActive="active">Lista de Artigos</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/artigos" routerLinkActive="active">Cadastro de Artigos</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownCuriosidades" data-bs-toggle="dropdown" aria-expanded="false">
                        Curiosidades
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCuriosidades">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-curiosidades" routerLinkActive="active">Lista de Curiosidades</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/curiosidades" routerLinkActive="active">Cadastro de curiosidades</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownQuiz" data-bs-toggle="dropdown" aria-expanded="false">
                        Quiz
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownQuiz">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-quiz" routerLinkActive="active">Lista de Quizzes</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/quiz-cadastro" routerLinkActive="active">Cadastro de Quizzes</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/question-cadastro" routerLinkActive="active">Cadastro de Perguntas</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownEventos" data-bs-toggle="dropdown" aria-expanded="false">
                        Eventos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownEventos">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-events" routerLinkActive="active">Lista de Eventos</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/events-cadastro" routerLinkActive="active">Cadastro de Eventos</a></li>
                    </ul>
                </li>
                <li class="header-platform-item dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownEventos" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownGames">
                        <li><a class="dropdown-item" routerLink="/plataforma/view/view-games" routerLinkActive="active">Lista de Games</a></li>
                        <li><a class="dropdown-item" routerLink="/plataforma/cadastro/games-cadastro" routerLinkActive="active">Cadastro de Games</a></li>
                    </ul>
                </li>
            }

            <app-menu-user></app-menu-user>
        </ul>
    </nav>
    
</section>

