<section class="studio-container">
  <app-header-platform></app-header-platform>
  <section class="cadastro-studio-container">
      <h1>Cadastro de Studio</h1>
      <form (ngSubmit)="onSubmit()" [formGroup]="studioForm">
        <!-- Nome do Studio -->
        <div class="form-group">
          <label for="name">Nome do Studio</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            required
            placeholder="Digite o nome do estúdio"
          />
        </div>
  
        <!-- Nacionalidade -->
        <div class="form-group">
          <label for="nationality">Nacionalidade</label>
          <input
            type="text"
            id="nationality"
            name="nationality"
            formControlName="nationality"
            required
            placeholder="Digite a nacionalidade"
          />
        </div>
  
        <!-- História -->
        <div class="form-group">
          <label for="history">História</label>
          <textarea
            id="history"
            name="history"
            formControlName="history"
            rows="5"
            required
            placeholder="Conte a história do estúdio"
          ></textarea>
        </div>
  
        <!-- Botões -->
        <div class="form-actions">
          <button type="submit" [disabled]="studioForm.invalid">Salvar</button>
          <button type="button" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  </section>
</section>
  
