#container-articles-page {
  background-color: #fafbfd;
}

.article-container {
  padding: 0 15px;
}

.article-title {
    color: #093366;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: bolder;
}
