<section class="cadastro-container">
    <!-- Cabeçalho inicial -->
  <h1>Bem-vindo à área de Usuarios</h1>
  <div class="botoes-navegacao">
    <button class="botao-opcao" routerLink="/cadastro/user" routerLinkActive="active">Cadastro de Usuário</button>
    <button class="botao-opcao" routerLink="/cadastro/heroi" routerLinkActive="active">Cadastro de Herói</button>
    <button class="botao-opcao" routerLink="/cadastro/studio" routerLinkActive="active">Cadastro de Studio</button>
    <button class="botao-opcao" routerLink="/cadastro/team" routerLinkActive="active">Cadastro de Equipe</button>
  </div>
 
</section>
  