<section class="team-container">
    <app-header-platform></app-header-platform>
    <section class="table-container">
        <h2>Lista de Equipes</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Criador</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            @for(team of teams; track team){
              <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.creator }}</td>
                <td class="td-acoes-team">
                  <button class="btn btn-primary" (click)="editTeam(team.id)">Editar</button>
                  <button class="btn btn-danger" (click)="deleteTeam(team.id)">Deletar</button>
                </td>   
              </tr> 
            }
          </tbody>
        </table>
      </section>
</section>
