.container-user-settings{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to bottom, #101522, #1e2a38);
    color: #00d2ff;
}