<section id="container-user-settings" class="container-user-settings">
  <button class="btn btn-outline-secondary" (click)="voltarPaginaAnterior()">
    <i class="bi bi-arrow-left"></i> Voltar
  </button>

  <div class="container py-5">
    <h2 class="mb-4 text-center">Configurações da Conta</h2>
    <div class="mb-3">
    <!-- Nav Tabs -->
      <ul class="nav nav-tabs mb-4 justify-content-center" id="userConfigTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="perfil-tab" data-bs-toggle="tab" data-bs-target="#perfil" type="button" role="tab" aria-controls="perfil" aria-selected="true">
            Perfil
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="preferencias-tab" data-bs-toggle="tab" data-bs-target="#preferencias" type="button" role="tab" aria-controls="preferencias" aria-selected="false">
            Preferências
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="seguranca-tab" data-bs-toggle="tab" data-bs-target="#seguranca" type="button" role="tab" aria-controls="seguranca" aria-selected="false">
            Segurança
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="compras-tab" data-bs-toggle="tab" data-bs-target="#compras" type="button" role="tab" aria-controls="compras" aria-selected="false">
            Compras & Pagamentos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="games-tab" data-bs-toggle="tab" data-bs-target="#games" type="button" role="tab" aria-controls="games" aria-selected="false">
            Games & Conquistas
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="quiz-tab" data-bs-toggle="tab" data-bs-target="#quiz" type="button" role="tab" aria-controls="quiz" aria-selected="false">
            Quiz & Pontuação
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="conexoes-tab" data-bs-toggle="tab" data-bs-target="#conexoes" type="button" role="tab" aria-controls="conexoes" aria-selected="false">
            Conexões & Integrações
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="privacidade-tab" data-bs-toggle="tab" data-bs-target="#privacidade" type="button" role="tab" aria-controls="privacidade" aria-selected="false">
            Privacidade
          </button>
        </li>
      </ul>
    </div>
    <!-- Tab Content -->
    <div class="tab-content" id="userConfigTabsContent">
      <!-- Perfil -->
      <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
        <!-- Componente ou conteúdo do perfil -->
        <app-data-user></app-data-user>
      </div>
      <!-- Preferências -->
      <div class="tab-pane fade" id="preferencias" role="tabpanel" aria-labelledby="preferencias-tab">
        <app-preferences-user> </app-preferences-user>
      </div>
      <!-- Segurança -->
      <div class="tab-pane fade" id="seguranca" role="tabpanel" aria-labelledby="seguranca-tab">
        <app-security-user></app-security-user>
      </div>
      <!-- Compras & Pagamentos -->
      <div class="tab-pane fade" id="compras" role="tabpanel" aria-labelledby="compras-tab">
        <app-history-payment-user></app-history-payment-user>
      </div>
      <!-- Games & Conquistas -->
      <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
        <app-games-conquest-user></app-games-conquest-user>
      </div>
      <!-- Quiz & Pontuação -->
      <div class="tab-pane fade" id="quiz" role="tabpanel" aria-labelledby="quiz-tab">
        <app-quiz-user></app-quiz-user>
      </div>
      <!-- Conexões & Integrações -->
      <div class="tab-pane fade" id="conexoes" role="tabpanel" aria-labelledby="conexoes-tab">
        <app-connections-user> </app-connections-user>
      </div>
      <!-- Privacidade -->
      <div class="tab-pane fade" id="privacidade" role="tabpanel" aria-labelledby="privacidade-tab">
        <app-privacy-user></app-privacy-user>
      </div>
    </div>
  </div>
</section>