<section class="team-container">
  <app-header-platform></app-header-platform>
  <section class="cadastro-team-container">
      <h1>Cadastro de Equipe</h1>
  
      <form (ngSubmit)="onSubmit()" [formGroup]="dadosTeam">
        <div class="form-group">
          <label for="nomeEquipe">Nome da Equipe:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            required
          />
          <div *ngIf="isFieldInvalid('name')" class="erro">
            <small>O nome da equipe é obrigatório.</small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="criadorEquipe">Criador da Equipe:</label>
          <input
            type="text"
            id="criadorEquipe"
            formControlName="creator"
            required
          />
          <div *ngIf="isFieldInvalid('creator')" class="erro">
            <small>O criador da equipe é obrigatório.</small>
          </div>
        </div>
  
        <div class="form-actions">
          <button type="submit" [disabled]="dadosTeam.invalid">
            Cadastrar Equipe
          </button>
          <button type="button" (click)="dadosTeam.reset()">Cancelar</button>
        </div>
      </form>
  </section>
</section>
