<section class="cadastro-container">
  <div class="menu-user-platform">
    <app-menu-user></app-menu-user>
  </div>
  <h1>Bem-vindo à área de Usuários</h1>
  
  <div class="botoes-navegacao">
    <button class="botao-opcao" routerLink="/cadastro/heroi" routerLinkActive="active">Cadastro de Herói</button>
    <button class="botao-opcao" routerLink="/cadastro/studio" routerLinkActive="active">Cadastro de Studio</button>
    <button class="botao-opcao" routerLink="/cadastro/team" routerLinkActive="active">Cadastro de Equipe</button>
  </div>
  <div class="botoes-navegacao-secundario">
    <button class="botao-opcao" routerLink="/cadastro/artigos" routerLinkActive="active">Cadastro de Artigos</button>
    <button class="botao-opcao" routerLink="/plataforma/cadastro/newsletter" routerLinkActive="active">Cadastro de Newsletter</button>
  </div>
</section>
