<section class="cards-main" [ngClass]="currentTheme">
  <app-header></app-header>
  <div class="cards-mythrill-grid">
    @for (card of cardsHeroes; track trackByCardId($index, card)) {
      <div class="mythrill-card">
        <div class="mythrill-wrapper">
          <img [src]="card.image_cover" class="mythrill-cover-image" [alt]="card.name + ' cover'">
        </div>
        <img [src]="card.image" class="mythrill-character" [alt]="card.name">
        <div class="mythrill-title">
          <span>{{ card.name }}</span>
          <span class="mythrill-moralidade">{{ card.moralidade }}</span>
        </div>
      </div>
    }
  </div>
  <app-footer></app-footer>
</section>