<section id="search-heroes-main">
    <div class="search-heroes-header">
        <app-header></app-header>
    </div>
    <section id="search-heroes-container">
        <h1>Selecione a modalidade na qual deseja buscar seus heróis</h1>
        <section class="search-heroes-container__menu">
            <nav class="search-heroes-menu-main">
                <ul>
                    <li>
                        <div class="menu-list" (click)="openEditoras()">Editora</div>
                        <ul class="submenuEditora">
                            @for(studio of heroisMenuEditora; track  studio){
                                <li (click)="openForPublisher(studio.studioName)" routerLinkActive="active" ariaCurrentWhenActive="page">{{studio.name}}</li> 
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="menu-list" (click)="openEquipe()">Equipe / Afiliados</div>
                        <ul class="submenuEquipe">
                            @for(team of heroisMenuEquipe; track  team){
                                <li (click)="openForTeam(team.teamName)" routerLinkActive="active" ariaCurrentWhenActive="page">{{team.name}}</li> 
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="menu-list" (click)="openAno()">Ano de lançamento</div>
                        <div class="submenuAno input-Camp">
                            <label for="dataLancamento">Digite o ano de lançamento</label>
                            <input type="text" name="dataLancamento" id="dataLancamento" placeholder="ex: 1990" [(ngModel)]="anoLancamento"/>
                            <button class="btnAno" (click)="buscaPorAno()">buscar</button>
                        </div>
                    </li>
                    <li>
                        <div class="menu-list" (click)="openMoralidade()">Moralidade</div>
                        <ul class="submenuMoralidade">
                            @for(morality of heroisMenuMoralidade; track  morality){
                                <li (click)="openForMorality(morality.moralityName)" routerLinkActive="active" ariaCurrentWhenActive="page">{{morality.moralityName}}</li> 
                            }
                        </ul>
                    </li>
                    <li>
                        <div class="menu-list" (click)="openSexo()">Sexo</div>
                        <ul class="submenuSexo">
                            @for(genre of heroisMenuSexo; track  genre){
                                <li (click)="openForSexy(genre.genreName)" routerLinkActive="active" ariaCurrentWhenActive="page">{{genre.genreName}}</li> 
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
    <app-footer></app-footer>
</section>
