<section class="curiosidades-container">
    <app-header-platform></app-header-platform>
      <section class="cadastro-curiosidades-container">
        <h1>Cadastro de Curiosidades</h1>
        <form [formGroup]="curiosidadeForm" (ngSubmit)="onSubmit()">
          <div class="cadastro-curiosidades-container__esquerda">
              <div class="form-group">
                <label for="name">Título do Curiosidade</label>
                <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('name')}">
              </div>
              <div class="form-group">
                <label for="subtema">Subtema da curiosidade</label>
                <input type="text" id="subtema" formControlName="subtema" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('subtema')}">
              </div>
              <div class="form-group">
                <label for="category">Categoria</label>
                <input type="text" id="category" formControlName="category" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('category')}">
              </div>
          </div>
          <div class="cadastro-curiosidades-container__direita">
              <div class="form-group">
                <label for="image">Imagem</label>
                <input type="text" id="image" formControlName="image" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('image')}">
              </div>
          </div>
          <div class="form-group">
            <label for="content">Conteúdo do curiosidade</label>
            <textarea id="editor" formControlName="content" class="form-control"></textarea>
            @if(isFieldInvalid('content')){
              <div class="text-danger">
                O conteúdo do curiosidade é obrigatório.
              </div>
            }
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" [disabled]="curiosidadeForm.invalid">Salvar Curiosidade</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
          </div>
        </form>
      </section>
  </section>
    