<section class="team-container">
  <app-header-platform></app-header-platform>
  <section class="cadastro-team-container">
      <h1>Cadastro de Equipe</h1>
  
      <form (ngSubmit)="onSubmit()" [formGroup]="dadosTeam">
        <div class="form-group">
          <label for="nomeEquipe">Nome da Equipe:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            required
          />
          @if(isFieldInvalid('name')){
            <div class="erro">
              <small>O nome da equipe é obrigatório.</small>
            </div>
          }
        </div>
  
        <div class="form-group">
          <label for="criadorEquipe">Criador da Equipe:</label>
          <input
            type="text"
            id="criadorEquipe"
            formControlName="creator"
            required
          />
          @if(isFieldInvalid('creator')){
            <div class="erro">
              <small>O criador da equipe é obrigatório.</small>
            </div>
          }
          
        </div>
  
        <div class="form-actions">
          <button type="submit"  class="btn btn-primary" [disabled]="dadosTeam.invalid">
            Cadastrar Equipe
          </button>
          <button type="button"  class="btn btn-secondary" (click)="dadosTeam.reset()">Cancelar</button>
        </div>
      </form>
  </section>
</section>
@if (showModal) {
  <div class="modal fade show d-block" tabindex="-1" style="background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <app-modal-sucesso-cadastro
          [modalTitle]="modalTitle"
          [modalMessage]="modalMessage"
          (closeModalEvent)="closeModal()">
        </app-modal-sucesso-cadastro>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeModal()">Fechar</button>
        </div>
      </div>
    </div>
  </div>
}
