@if(_isLoading || !quizData || quizData.length === 0){
  <app-flash-loading></app-flash-loading>
} @else {
  <section [ngClass]="themeAll">
    <app-header></app-header>
    <div class="hero-quiz-container">
      <header class="hero-header">
        <h1 class="title-glow-quiz">QUIZ DOS HERÓIS</h1>
        <p class="subtitle">Prove que você é o maior fã do universo de Heróis!</p>
        <div class="comic-strip"></div>
      </header>
    </div>

    <div class="quiz-container-cards">
      @for (quiz of quizData; track quiz.name){
        <section class="hero-quiz-container-studios">
          <h2>{{quiz.name}}</h2>
          <div class="hero-quiz-container-studios-cards">
            @for (cardQuiz of quiz.quiz_levels; track cardQuiz){
              <app-card-quiz-level 
                [level]="cardQuiz" 
                [logo]="quiz.logo.url" 
                (premiumStatus)="onPremiumStatus($event)"
                class="card-quiz-level">
              </app-card-quiz-level>
            }
          </div>
        </section>
      }
    </div>

    <app-footer></app-footer>
    @if(showModal){
      <div class="modal-overlay">
        <div class="modal-content">
          <h3>Área exclusiva para assinantes</h3>
          <p>{{ modalMessage }}</p>
          <div class="modal-actions">
            <button class="btn btn-secondary" (click)="closeModal()">Fechar</button>
            <button class="btn btn-primary" (click)="goToPlans()">Ver Planos</button>
          </div>
        </div>
      </div>
    }
  </section>
}
