<section class="eventos" id="theme_eventos">
  <h2>Próximos Eventos Geek</h2>
  <div class="options">
    <div *ngFor="let evento of eventos; let i = index" 
         class="option" 
         [class.active]="i === activeIndex"
         [style.--optionBackground]="'url(' + evento.imagem + ')'"
         (click)="setActive(i)">
      <div class="shadow"></div>
      <div class="label">
        <div class="icon-title-group">
          <i [ngClass]="getIcon(i)"></i>
        </div>
        <div class="info" *ngIf="i === activeIndex">
          <div class="main">{{ evento.titulo }}</div>
          <div class="sub">{{ evento.descricao }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
