<section class="eventos" id="theme_eventos">
  <h2>Próximos Eventos Geek</h2>
  <div class="options">
    <div *ngFor="let evento of eventos; let i = index" 
         class="option" 
         [class.active]="i === activeIndex"
         [style.--optionBackground]="'url(' + evento.url_image + ')'"
         (click)="setActive(i)">
      <div class="shadow"></div>
      <div class="label">
        <div class="icon-title-group">
          <i [ngClass]="getIcon(i)"></i>
        </div>
        @if(i === activeIndex){
          <div class="info">
          <div class="main">{{ evento.title }}</div>
          <div class="sub">{{ evento.description }}</div>
        </div>
        }
      </div>
    </div>
  </div>
</section>