@if (!isLoading) {
  <section id="descriptionHeroes-main" [ngClass]="_currentTheme">
    <app-header/>
    <div class="descriptionHeroes-heroArea">
      <div class="descriptionHeroes-imgPrincipal">
        <figure>
          <img [src]="testeHero?.imagem" alt="imagem principal do herói" class="hero-img">
        </figure>
      </div>
      <div class="descriptionHeroes-info">
        <h1 class="hero-title">
          <span class="glitch" [attr.data-text]="testeHero?.name">{{ testeHero?.name }}</span>
        </h1>
        <div class="descriptionHeroes-card">
          <div class="info-row"><strong>Nome real:</strong> <span>{{ testeHero?.name }}</span></div>
          <div class="info-row"><strong>Studio:</strong> <span>{{ testeHero?.studio }}</span></div>
          <div class="info-row"><strong>Tipo de poder:</strong> <span>{{ testeHero?.power_type }}</span></div>
          <div class="info-row"><strong>Moralidade:</strong> <span>{{ testeHero?.morality }}</span></div>
          <div class="info-row"><strong>Gênero:</strong> <span>{{ testeHero?.genre }}</span></div>
          <div class="info-row"><strong>Primeira aparição:</strong> <span>{{ testeHero?.first_appearance }}</span></div>
          <div class="info-row"><strong>Data de lançamento:</strong> <span>{{ testeHero?.release_date }}</span></div>
          <div class="info-row"><strong>Criado por:</strong> <span>{{ testeHero?.creator }}</span></div>
          <div class="info-row"><strong>Ponto fraco:</strong> <span>{{ testeHero?.weak_point }}</span></div>
          <div class="info-row"><strong>Equipe/Afiliados:</strong> <span>{{ testeHero?.team || testeHero?.affiliation || 'N/A' }}</span></div>
        </div>
      </div>
    </div>
    <section class="descriptionHeroes-history">
      <h2 class="history-title">História</h2>
      <div class="descriptionHeroes-history__texto">
        <p>{{ testeHero?.history }}</p>
      </div>
    </section>
  </section>
} @else {
  <app-flash-loading
    [isVisible]="true"
    [loadingText]="'CARREGANDO DADOS HERÓI'"
    [subtitle]="'O Flash está buscando os detalhes do herói!'"
  ></app-flash-loading>
}
