:host {
  font-family: 'AttackOfMonster', sans-serif;
}

.articles {
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}

.subtitle {
  font-size: 1.5rem;
}

.articles-container {
  width: 100%;
  margin-top: 2rem;
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text);
  border-radius: 8px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: #2a0055;
  padding: 10px 0;
}

.category-header .category-title {
  font-size: 1.7rem;
  color: var(--text);
  font-weight: bold;
}

.category-header .category-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px 0 auto;
  border-radius: 4px;
}

.seta, .botao-excluir, .botao-editar {
  color: #ffffff;
  padding: 10px;
  background: #233447;
}

.seta:hover, .botao-excluir:hover, .botao-editar:hover {
  color: #00d2ff;
  cursor: pointer;
  background: #233447;
  animation: hover-glow 1s infinite alternate;
}

.seta:disabled {
  color: #555;
  background: transparent;
}

.article-card {
  text-align: left;
  background-color: #320050;
  padding: 1rem;
  border-radius: 12px 12px 0 0;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 10px;
  box-shadow: #00d2ff 0px 0px 10px 2px;
}

.img-container {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.article-card span, .article-card p { 
  color: var(--text);
  font-weight: normal;
}

.article-card span {
  font-size: 1rem;
}

.article-card h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #00d2ff;
  font-weight: normal;
}

 .article-card p {
  font-size: 0.9rem;
 }

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-cadastro-artigo button {
  padding: 10px;
  width: 100%;
}

.sidebar-header {
  width: 100%;
  background: #2a0055;
}

.novidades-title {
  font-size: 1.7rem;
  color: var(--text);
  font-weight: bold;
  padding: 10px 0;
}

.novidades-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}

.novidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  background: #233447;
}

.novidade .img-container {
  max-width: 100%;
}

.novidade span {
  font-size: 1.5em;
}

.novidade small {
  font-size: 1.2em;
}

.novidade img {
  overflow: hidden;
}

.mais-vistos {
  margin-top: 3rem;
  text-align: center;
}

.mais-vistos h2 {
  color: var(--accent);
  margin-bottom: 1rem;
}

.visto-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.visto-card {
  background-color: #320050;
  padding: 1rem;
  border-radius: 10px;
}

.visto-img {
  height: 100px;
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.ver-mais {
  padding: 0.8rem 2rem;
  background-color: var(--accent);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--bg);
  cursor: pointer;
}

/* =============//=============//=============//=============// */
/* 🔹 Tema Dark */
.dark {
  padding-top: 2em;
}

.dark {
  background: radial-gradient(circle at top right, #121929, #1e2a38 70%);
  background-size: 200% 200%;
  color: #ffffff;
  animation: gradientMove 12s infinite linear;
}

.dark h2 {
  color: #00d2ff;
  font-family: AttackOfMonster, sans-serif;
}

.dark h2::after {
  background: #00d2ff;
}

.dark .card {
  background: linear-gradient(135deg, #1e2a38, #2e3b50);
}

.dark .card:hover {
  background: linear-gradient(135deg, #233447, #2e3b50);
}

.dark h3 {
  color: #00d2ff;
}

.dark p {
  color: #B0BEC5;
}

.dark button:hover {
  background: #007bb5;
  transform: scale(1.05);
}

.dark button:active {
  transform: scale(0.95);
}

/* 🔹 Tema Light */
.light {
  font-family: 'AttackOfMonster', sans-serif;
  background: radial-gradient(circle at top right, #F2A413, #F252AA 70%);
  background-size: 200% 200%;
  color: #333;
  animation: gradientMoveLight 12s infinite linear;
}

.light h2 {
  color: #F20F38;
  font-family: AttackOfMonster, sans-serif;
  text-shadow: 1px 1px 4px #101522;
}

.light h2::after {
  background: #F252AA;
}

.light .card {
  background: linear-gradient(135deg, #F28E13, #F2A413);
}

.light .card:hover {
  background: linear-gradient(135deg, #F252AA, #F20F38);
}

.light h3 {
  color: #F20F38;
}

.light p {
  color: #333;
}

.light button:hover {
  background: #F252AA;
  transform: scale(1.05);
}

.light button:active {
  transform: scale(0.95);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    background: radial-gradient(circle at top right, #121929, #1e2a38 70%);
  }
  25% {
    background-position: 50% 50%;
    background: radial-gradient(circle at top, #33394c, #405064 70%);
  }
  50% {
    background-position: 100% 50%;
    background: radial-gradient(circle at bottom left, #ff4f58, #ff9f00 70%);
  }
  75% {
    background-position: 50% 0%;
    background: radial-gradient(circle at top left, #637f92, #526776 70%);
  }
  100% {
    background-position: 0% 50%;
    background: radial-gradient(circle at top right, #121929, #1e2a38 70%);
  }
}

@keyframes gradientMoveLight {
  0% {
    background-position: 0% 50%;
    background: radial-gradient(circle at top right, #F2A413, #F252AA 70%);
  }
  25% {
    background-position: 50% 50%;
    background: radial-gradient(circle at top, #F20F38, #F28E13 70%);
  }
  50% {
    background-position: 100% 50%;
    background: radial-gradient(circle at bottom left, #04BFAD, #F20F38 70%);
  }
  75% {
    background-position: 50% 0%;
    background: radial-gradient(circle at top left, #F252AA, #F2A413 70%);
  }
  100% {
    background-position: 0% 50%;
    background: radial-gradient(circle at top right, #F2A413, #F252AA 70%);
  }
}

@keyframes hover-glow {
  0% { box-shadow: 0 0 10px 5px rgba(0, 210, 255, 0.4); }
  50% { box-shadow: 0 0 20px 10px rgba(0, 210, 255, 0.2); }
  100% { box-shadow: 0 0 10px 5px rgba(0, 210, 255, 0.4); }
}

@media (min-width: 580px) {

}

@media (min-width: 768px) {
  .category {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1024px) {
  .articles-container {
    display: grid;
    grid-template-columns: calc(70% - 1rem) calc(30% - 1rem);
    gap: 2rem;
  }
}

@media (min-width: 1250px) {


  .category {
    width: calc(33% - 0.66rem); /* Compensa o gap */
  }

}
