:host {
  font-family: 'Orbitron', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
}

.sidebar-header {
  width: 100%;
}

.sidebar-title {
  font-family: 'AttackOfMonster', 'Orbitron', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 2rem;
}

.sidebar-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
  background: #00d2ff;
}

.novidade {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.novidade::-webkit-scrollbar {
  height: 8px;
}

.novidade::-webkit-scrollbar-thumb {
  background: #00d2ff;
  border-radius: 4px;
}

.novidade-link {
  flex: 0 0 auto;
  width: 80%;
  scroll-snap-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
}

.novidade-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px 10px 0 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.img-wrapper {
  flex: 1;
  max-height: 180px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.novidade-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-card-category {
  font-size: 0.9rem;
  color: #f2a413;
  font-size: 1rem;
}

.article-card-date {
  font-size: 0.9rem;
  color: #f2a413;
  font-size: 1rem;
}


.article-card-title {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.article-card-description {
  font-size: 0.9rem;
  color: #ffffff;
  font-size: 1.2rem;
}

/* =============//=============//=============//=============// */
/* 🔹 Tema Dark */

.dark .novidade {
  background: rgba(20, 20, 20, 0.6);
}

/* .dark .sidebar-header {
  background: linear-gradient(135deg, #1e2a38, #1358f8);
  box-shadow: #101522 0px 0px 10px 2px;
} */

.dark .sidebar-title {
  color: white;
}

/* =============//=============//=============//=============// */
/* 🔹 Tema Light */

.light .novidade-link {
  background: rgba(255, 255, 255, 0.9);
}

/* .light .sidebar-header {
  background: rgba(60, 232, 255, 0.5);
} */

.light .sidebar-title {
  color: #101522;
}

.light .article-card-title,
.light .article-card-description {
  color: #101522;
}

/* =============//=============//=============//=============// */
/* media */

@media (min-width: 580px) {}

@media (min-width: 768px) {
  .novidade-link {
    width: 65%;
  }

  .img-wrapper {
    max-height: 250px;
  }
}

@media (min-width: 1024px) {
  .novidade {
    flex-direction: column;
    overflow-x: none;
    scroll-snap-type: none;
  }

  .novidade-link {
    flex: 0 0 auto;
    width: 100%;
  }

  .img-container {
    flex-direction: row;
  }

  .img-container img {
    width: 70%;
  }
}

@media (min-width: 1250px) {}
