<section class="cadastro-team-container">
    <h1>Cadastro de Equipe</h1>
    
    <!-- Aqui passamos o formulário para o método resetForm -->
    <form (ngSubmit)="onSubmit()" #cadastroEquipeForm="ngForm">
      <div class="form-group">
        <label for="nomeEquipe">Nome da Equipe:</label>
        <input
          type="text"
          id="nomeEquipe"
          name="nomeEquipe"
          [(ngModel)]="equipe.nome"
          required
          #nomeEquipe="ngModel"
        />
        <div *ngIf="nomeEquipe.invalid && nomeEquipe.touched" class="erro">
          <small>O nome da equipe é obrigatório.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="criadorEquipe">Criador da Equipe:</label>
        <input
          type="text"
          id="criadorEquipe"
          name="criadorEquipe"
          [(ngModel)]="equipe.criador"
          required
          #criadorEquipe="ngModel"
        />
        <div *ngIf="criadorEquipe.invalid && criadorEquipe.touched" class="erro">
          <small>O criador da equipe é obrigatório.</small>
        </div>
      </div>
  
      <div class="form-actions">
        <button type="submit" [disabled]="cadastroEquipeForm.invalid">
          Cadastrar Equipe
        </button>
        <button type="button" (click)="resetForm(cadastroEquipeForm)">Cancelar</button>
      </div>
    </form>
  </section>
  