<section id="login-plataforma">
  <div id="container_login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-75 m-auto">
      <h2>sign in</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <div class="capsula-login">
          <i class="bi bi-person-check-fill icon-login"></i>
          <input
            type="email"
            formControlName="email"
            class="form-control input-login"
            id="email"
            placeholder="Digite seu email"
          />
        </div>
        <div id="emailHelp" class="form-text">
          Nunca compartilharemos seu e-mail com mais ninguém.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="capsula-login">
          <i class="bi bi-lock-fill icon-login"></i>
          <input
            type="password"
            formControlName="password"
            class="form-control input-login"
            id="password"
            placeholder="Digite sua senha"
          />
        </div>
      </div>
      <p class="forgot-password"
        [routerLink]="['/login/forgot-password']"
        [queryParams]="{ inicio: true }"
        routerLinkActive="active"
      >
        Esqueci minha senha
      </p>
      <button type="submit" class="btn btn-acessar">Acessar</button>
    </form>
    <button type="button" class="btn btn-google" (click)="signInWithGoogle()">
      <i class="bi bi-google"></i> Entrar com Google
    </button>
    <div class="login-for-register">
      <p
        [routerLink]="['/cadastro-usuario']"
        [queryParams]="{ inicio: true }"
        routerLinkActive="active"
      >
        Cadastre-se
      </p>
    </div>
  </div>
</section>

