<div
  class="carousel"
  id="theme_carousel"
  [style.height]="height"
  [style.width]="width"
>
  <ngb-carousel
    #carousel
    [interval]="5000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    @for (img of images; track img.url; let i = $index) {
      <ng-template ngbSlide>
        <a
          [routerLink]="img.route"
          routerLinkActive="active"
          rel="nofollow noopener noreferrer"
        >
          <div
            class="picsum-img-wrapper"
            [style.height]="imgHeight"
            [style.width]="imgWidth"
          >
            <img
              [src]="img.url"
              [alt]="'My image ' + (i + 1) + ' description'"
              [style.height]="imgHeight"
              [style.width]="imgWidth"
              style="object-fit: cover; object-position: center;"
            />
          </div>
        </a>
        <div class="carousel-content">
          <h3>{{ img.title }}</h3>
          <p>{{ img.description }}</p>
        </div>
      </ng-template>
    }
  </ngb-carousel>
</div>