<section id="container-articles-page">
  <app-header></app-header>
  <article class="article-container">
    <div *ngIf="article" class="article-page">
      <h1 class="article-title">{{ article.title }}</h1>
      <p class="article-category">{{ article.category | titlecase }}</p>
      <p class="article-date">Publicado em {{ article.created_at | date:'dd/MM/yyyy' }}</p>

      <img [src]="article.img" [alt]="article.imgAlt" class="img-banner" />

      <p class="description">{{ article.description }}</p>

      <div class="content">
        {{ article.text }}
      </div>

      <div class="keywords">
        <strong>Palavras-chave:</strong>
        <span *ngFor="let word of article.keyWords">{{ word }}</span>
      </div>
    </div>
  </article>
  <app-newsletter></app-newsletter>
  <app-footer></app-footer>
</section>
