<div class="toast-global-container">
	<app-toast-notification 
		*ngFor="let toast of toastService.toasts$ | async"
		[message]="toast.message"
		[type]="toast.type"
		[duration]="toast.duration ?? 3000"
		[closable]="toast.closable ?? true"
		[autoClose]="!toast.persistent"
		(onClose)="toastService.remove(toast.id)"
	></app-toast-notification>
</div>
<router-outlet></router-outlet>
@if(notificationModalService.isOpen()) {
	<app-notification-modal 
		[notifications]="notificationModalService.notifications()"
		[selectedNotificationId]="notificationModalService.selectedNotificationId()"
		[theme]="notificationModalService.theme()"
		(closeModalEvent)="notificationModalService.close()"
		(markAsReadEvent)="onNotificationMarkAsRead($event)"
		(deleteNotificationEvent)="onNotificationDelete($event)"
		(selectNotificationEvent)="notificationModalService.selectNotification($event.id)">
	</app-notification-modal>
}