Geral
.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Estilo do vídeo de fundo */
.video-background {
  position: fixed; /* Posiciona o vídeo de forma fixa na tela */
  top: 0;
  left: 0;
  width: 100%; /* Faz o vídeo ocupar toda a largura da tela */
  height: 100%; /* Faz o vídeo ocupar toda a altura da tela */
  object-fit: cover; /* Garante que o vídeo se ajuste para cobrir toda a tela */
  z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}

  /* Menu inicial */
.menu-inicial{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menu-inicial h1 {
  margin-top: 2em;
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 6px #BAB8B5;
}
  
.botoes-navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 1em;
}
  
.botao-opcao {
  padding: 35px 25px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
.botao-opcao:hover {
  background-color: #0056b3;
}
  
/* Menu superior para rotas filhas */
.menu-topo {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.botao-menu {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #6c757d;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}


