<section class="cadastro-container">
    <!-- Vídeo de fundo -->
    <video autoplay muted loop playsinline class="video-background">
        <source src="../../../assets/videos/231331_small.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
    <!-- Cabeçalho inicial -->
    <div *ngIf="!menuAberto" class="menu-inicial">
      <h1>Bem-vindo à área de Cadastro</h1>
      <div class="botoes-navegacao">
        <button class="botao-opcao" (click)="navegar('user')">Cadastro de Usuário</button>
        <button class="botao-opcao" (click)="navegar('heroi')">Cadastro de Herói</button>
        <button class="botao-opcao" (click)="navegar('studio')">Cadastro de Studio</button>
        <button class="botao-opcao" (click)="navegar('team')">Cadastro de Equipe</button>
      </div>
    </div>
  
    <!-- Exibição da rota filha -->
    <div *ngIf="menuAberto" class="menu-filho">
      <header class="menu-topo">
        <button class="botao-menu" routerLink="/cadastro/user">Usuário</button>
        <button class="botao-menu" routerLink="/cadastro/heroi">Herói</button>
        <button class="botao-menu" routerLink="/cadastro/studio">Studio</button>
        <button class="botao-menu" routerLink="/cadastro/team">Equipe</button>
        <button class="botao-menu" (click)="fecharMenu()">Voltar</button>
      </header>
      <main class="conteudo-filho">
        <router-outlet></router-outlet>
      </main>
    </div>
  </section>
  