<footer class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <h2>🦸‍♂️ Universo dos Heróis</h2>
      <p>Explore, Descubra e Conecte-se com seu universo geek!</p>
    </div>

    <div class="footer-links">
      <h3>Links Rápidos</h3>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/webmain/busca_heroes" routerLinkActive="active">Busca de Heróis</a></li>
        <li><a routerLink="/webmain/conteudo/destaques" routerLinkActive="active">Destaques</a></li>
        <li><a routerLink="/webmain/conteudo/eventos" routerLinkActive="active">Eventos</a></li>
        <li><a routerLink="/webmain/conteudo/artigos" routerLinkActive="active">Artigos</a></li>
        <li><a routerLink="/webmain/conteudo/newsletter" routerLinkActive="active">Newsletter</a></li>
        <li><a routerLink="/webmain/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/em-construcao" routerLinkActive="active">Games</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h3>Nos siga</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/share/1QBoFGtzDw/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/platformheroes?igsh=aWcxbHBza3MwNWZw" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@Plataformaheroes" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://discord.gg/zqjxrBf6" target="_blank"><i class="fa-brands fa-discord"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Universo dos Heróis. Todos os direitos reservados.</p>
  </div>
</footer>
