<div class="banner"  id="theme_banner">
  <ngb-carousel
    #carousel
    [interval]="5000"
    [pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    @for (img of images; track img; let i = $index) {
      <ng-template ngbSlide>
        <a routerLink="{{img.rota}}" routerLinkActive="active" rel="nofollow noopener noreferrer" >
          <div class="picsum-img-wrapper">
            <img [src]="img.url" alt="My image {{ i + 1 }} description"/>
          </div>
        </a>
        <!-- Contêiner para o conteúdo (sobreposição da imagem) -->
        <div class="banner-content">
          <h3>{{img.Title}}</h3>
          <p>{{img.Description}}</p>
        </div>
      </ng-template>
      
    }
  </ngb-carousel>
  
  <hr />
  
  
</div>
