<section id="container-home">
    <app-header></app-header>
    
    <!-- Hero Section -->
    <app-hero-section [theme]="themeHome || 'dark'"></app-hero-section>

    <!-- Banner -->
    <app-banner-videos [dataEvents]="dataBanner"></app-banner-videos>

    <!-- Por que escolher -->
    <app-why-choose [theme]="themeHome || 'dark'"></app-why-choose>

    <div class="home-main-layout">
      <div class="home-main-left">
        <!-- Área de destaques -->
        <app-destaque></app-destaque>
        <!-- Área de artigos -->
        <app-artigos></app-artigos>
      </div>
      <aside class="home-main-right">
        <!-- Área de novidades -->
        <app-novidades></app-novidades>
      </aside>
    </div>

    <!-- Área de curiosidades -->
    <app-curiosidades></app-curiosidades>

    <!-- Área de eventos -->
    <app-eventos></app-eventos>

    <!-- Área de reviews -->
     <app-review></app-review>

    <!-- Área de news letter-->
     <app-newsletter></app-newsletter>

    <!-- Footer -->
    <app-footer></app-footer>
</section>
