<section id="container-home">
    <app-header></app-header>
    <!-- Banner -->
    <app-banner></app-banner>

    <div class="home-main-layout">
      <div class="home-main-left">
        <!-- Área de destaques-->
        <app-destaque></app-destaque>
      </div>
      <aside class="home-main-right">
        <!-- Área de artigos -->
        <app-artigos></app-artigos>
      </aside>
    </div>

    <!-- Área de curiosidades -->
    <app-curiosidades></app-curiosidades>

    <!-- Área de eventos -->
    <app-eventos></app-eventos>

    <!-- Área de reviews -->
     <app-review></app-review>

    <!-- Área de news letter-->
     <app-newsletter></app-newsletter>

    <!-- Footer -->
    <app-footer></app-footer>
</section>
