<section class="eventos-container">
    <app-header-platform></app-header-platform>
  <section class="cadastro-eventos-container">
    <h1>Cadastro de Eventos</h1>
    <form [formGroup]="eventosForm" (ngSubmit)="onSubmit()" class="eventos-form">
      <div class="form-group">
        <label for="title">Título</label>
        <input id="title" formControlName="title" type="text" [class.invalid]="isFieldInvalid('title')" />
        
        @if (isFieldInvalid('title')) {
          <div class="error-msg">Título é obrigatório (mínimo 5 caracteres).</div>
        }
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea id="description" formControlName="description" rows="4" [class.invalid]="isFieldInvalid('description')"></textarea>
        @if (isFieldInvalid('description')) {
          <div class="error-msg">Descrição é obrigatória (mínimo 10 caracteres).</div>
        }
      </div>
      <div class="form-group">
        <label for="date_event">Data do Evento</label>
        <input id="date_event" formControlName="date_event" type="date" [class.invalid]="isFieldInvalid('date_event')" />
        @if (isFieldInvalid('date_event')) {
          <div class="error-msg">Data do evento é obrigatória.</div>
        }
      </div>
      <div class="form-group">
        <label for="url_event">Link do Evento</label>
        <input
          id="url_event"
          formControlName="url_event"
          type="url"
          [class.invalid]="isFieldInvalid('url_event')"
          placeholder="https://exemplo.com/evento"
        />
        @if (isFieldInvalid('url_event')) {
          <div class="error-msg">
            Insira uma URL válida para o evento.
          </div>
        }
      </div>
      <div class="form-group">
        <label for="location">Localização</label>
        <input id="location" formControlName="location" type="text" [class.invalid]="isFieldInvalid('location')" />
        @if (isFieldInvalid('location')) {
          <div class="error-msg">Localização é obrigatória.</div>
        }
      </div>
      <div class="form-group">
        <label for="image">Imagem (JPG, máx 400x400)</label>
        <input
          type="file"
          id="image"
          accept="image/jpeg, image/jpg"
          (change)="onImageChange($event)"
          class="form-control"
        />
        @if (imageError) {
          <div class="error-msg">{{ imageError }}</div>
        }
        @if (imagePreview) {
          <img [src]="imagePreview" alt="Prévia da imagem" style="max-width:120px;max-height:120px;margin-top:8px;border-radius:8px;">
        }
      </div>
      <div class="form-actions">
        <button type="submit" [disabled]="eventosForm.invalid">Salvar</button>
        <button type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </section>
</section>