<section id="cards-main">
    <nav class="nav-card">
        <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Voltar</button>
    </nav>
    <div class="cards-main__container">
        @for (card of cardsHeroes; track card.id){
            <a href="" class="cards-container" (click)="navigateToDescription(card)">
                <div class="card-wrapper">
                    <img [src]="card.image" alt="" class="card-wrapper__img">
                </div>
                <div class="card-title">
                    <p>{{card.moralidade}}</p>
                    <p>{{card.name}}</p>
                </div>

                <img [src]="card.image_cover" alt="" class="card-cover">

            </a>
        }
    </div>
</section>
