.curiosidades {
    padding: 40px;
  
    .curiosidade-item {
      margin: 10px 0;
      padding: 15px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  