

.dark {
  /* Background Colors */
  --bg-primary: #101522;
  --bg-secondary: #1e2a38;
  --bg-card: #1e1e1e;
  --bg-blue: #00D2FF;
  --bg-green: #04BFAD;
  --bg-red: #dc3545;
  --bg-dark-orange: #F28E13;
  --bg-orange: #F2A413;
  --bg-pink: #ff4f58;
  --bg-gold: #FFD700; 

  /* Text Colors */
  --text-primary: #f0f0f0;
  --text-secondary: #b0b0b0;
  --text-blue: #00D2FF;
  --text-red: #F20F38;
  --text-yellow: #FFD43B;

  /*border colors*/
  --border-primary: #007bff;
  --border-blue: #00D2FF;
  --border-color: rgba(255, 255, 255, 0.1);
  --border-gray: #747474;
  --border-pink: #F252AA;

  /*sombra colors*/
  --shadow-color-primary: rgba(255, 255, 255, 0.2);
  --shadow-color: rgba(0, 210, 255, 0.2);

  /*Box shadow*/
  --box-shadow: 0 2px 12px #00D2FF;
}

.light {
  /* Background Colors */
  --bg-primary: #f8f9fa;
  --bg-secondary: #e9ecef;
  --bg-card: #ffffff;
  --bg-blue: #007bff;
  --bg-green: #17a2b8;
  --bg-red: #dc3545;
  --bg-dark-orange: #F28E13;
  --bg-orange: #F2A413;
  --bg-pink: #ff4f58;
  --bg-gold: #ff9500;

  /* Text Colors */
  --text-primary: #212529;
  --text-secondary: #121929;
  --text-blue: #007bff;
  --text-red: #dc3545;
  --text-yellow: #FFD43B;

  /*border colors*/
  --border-primary: #cfcfcf;
  --border-blue: #007bff;
  --border-color: rgba(0, 0, 0, 0.1);
  --border-gray: #747474;
  --border-pink: #F252AA;

  /*sombra colors*/
  --shadow-color-primary: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 123, 255, 0.1);

  /*Box shadow*/
  --box-shadow: 0 2px 12px #e0e0e0;
}