

.dark {
  --bg-color: #101522;
  --bg-secondary: #1e2a38;
  --text-color: #f0f0f0;
  --primary-color: #00D2FF;
  --accent-color: #04BFAD;
  --warning-color: #F28E13;
  --attention-color: #F2A413;
  --error-color: #F252AA;
  --love-color: #F20F38;
  --border-color: rgba(255, 255, 255, 0.1);
  --shadow-color-primary: rgba(255, 255, 255, 0.2);
}

.light {
  --bg-color: #f8f9fa;
  --bg-secondary: #e9ecef;
  --text-color: #212529;
  --primary-color: #007bff;
  --accent-color: #17a2b8;
  --warning-color: #fd7e14;
  --attention-color: #ffc107;
  --error-color: #dc3545;
  --love-color: #e83e8c;
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color-primary: rgba(0, 0, 0, 0.1);
}