:host {
  font-family: 'Orbitron', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  list-style: none;
  /* Remove os marcadores padrão de listas */
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.articles {
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-family: 'AttackOfMonster', 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
  padding: 3rem;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}

.subtitle {
  font-size: 1.5rem;
}

.articles-container {
  width: 100%;
  margin-top: 2rem;
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  /* color: var(--text); */
  border-radius: 8px;
}

.category-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 12px;
  background: #333;
}

.category-selector:hover {
  box-shadow: 0 10px 20px rgba(0, 210, 255, 0.4);
  cursor: pointer;
}

.category-title {
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.seta,
.botao-excluir,
.botao-editar {
  color: white;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
}

.seta:hover,
.botao-excluir:hover,
.botao-editar:hover {
  color: #00d2ff;
  cursor: pointer;
}

.seta:disabled {
  color: #555;
  background: transparent;
}

.articles-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.articles-grid::-webkit-scrollbar {
  height: 8px;
}

.articles-grid::-webkit-scrollbar-thumb {
  background: #00d2ff;
  border-radius: 4px;
}

.article-card {
  flex: 0 0 auto;
  width: 80%;
  scroll-snap-align: center;
  text-align: left;
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.img-container {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.article-card-category,
.article-card-description,
.article-card-title {
  text-decoration: none;
}

.article-card-category,
.article-card-date {
  font-size: 0.9rem;
  color: #f2a413;
}

.article-card-title {
  margin: 10px 0;
  font-size: 1.1rem;
  color: white;
}

.article-card-description {
  font-size: 0.9rem;
  color: white;
}

.sidebar-right {
  background-position: 0% 50%;
}

.category-nav {
  margin-bottom: 1rem;
}

.sidebar-right .search-input {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 12px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.category-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
  padding: 5px 10px;
}

.category-item:hover {
  background: linear-gradient(135deg, #1e2a38, #1358f8);
}

.category-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  width: 100%;
}

.category-link span {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.visto-title {
  margin-top: 3rem;
  text-align: center;
  font-family: 'AttackOfMonster', 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  padding: 3rem;
}

.visto-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  margin: 10px auto;
  border-radius: 4px;
}

.visto-title {
  margin-bottom: 1rem;
}

.visto-grid {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;

  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  /* flex-wrap: wrap; */
}

.visto-grid::-webkit-scrollbar {
  height: 8px;
}

.visto-grid::-webkit-scrollbar-thumb {
  background: #00d2ff;
  border-radius: 4px;
}

.visto-card {
  flex: 0 0 auto;
  width: 80%;
  scroll-snap-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.visto-card:hover {
  background: linear-gradient(135deg, #4e6683, #4d6894);
}

.visto-img {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.visto-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.mais-vistos .ver-mais {
  display: inline-block;
  margin: 2rem;
  padding: 8px 16px;
  background-color: #00d2ff;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s;
  font-size: 1.3rem;
}

.mais-vistos .ver-mais:hover {
  background-color: #0077a6;
}

/* =============//=============//=============//=============// */
/* 🔹 Tema Dark */

.dark {
  background-position: 0% 50%;
  background: linear-gradient(135deg, #1e2a38, #1358f8);
  color: white;
}

.dark .title::after,
.dark .visto-title::after {
  background: #00d2ff;
}

.dark .article-card,
.dark .category-selector,
.dark .visto-card {
  background: rgba(20, 20, 20, 0.6);
}

.dark .sidebar-right {
  background: linear-gradient(135deg, #1e2a38, #1358f8);
}

/* =============//=============//=============//=============// */
/* 🔹 Tema Light */
.light {
  background: linear-gradient(to bottom,
      #4e6683 10%,
      #00d2ff 40%,
      #4e6683 100%);
  color: #101522;
}

.light .title::after,
.light .visto-title::after {
  background: #00d2ff;
}

.light .category-title {
  color: #101522;
}

.light .article-card {
  box-shadow: #101522 0px 0px 10px 2px;
}

.light .article-card,
.light .category-selector,
.light .visto-card {
  background: rgba(255, 255, 255, 0.9);
}

.light .article-card-title,
.light .article-card-description {
  color: #101522;
}

.light .sidebar-right {
  background: linear-gradient(to bottom,
      #4e6683 10%,
      #00d2ff 40%,
      #4e6683 100%);
}

/* =============//=============//=============//=============// */
/* 🔥 Animação */
@keyframes hover-glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(0, 210, 255, 0.4);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(0, 210, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 10px 5px rgba(0, 210, 255, 0.4);
  }
}

/* =============//=============//=============//=============// */
/* media */
@media (min-width: 580px) {
  .visto-img {
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  .category {
    width: calc(50% - 0.5rem);
  }

  .articles-grid {
    display: block;
    overflow-x: hidden;
    scroll-snap-type: none;
  }

  .article-card {
    width: 100%;
  }

  .visto-img {
    max-height: 250px;
  }

  .visto-card {
    width: 65%;
  }

  .visto-card .article-card-title {
    font-size: 1.5rem;
  }

  .visto-card .article-card-description {
    font-size: 1.3rem;
  }

  .visto-card .article-card-category,
  .visto-card .article-card-date {
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {
  .articles-container {
    display: grid;
    grid-template-columns: calc(70% - 1rem) calc(30% - 1rem);
    gap: 2rem;
  }

  .visto-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: none;
    scroll-snap-type: none;
  }

  .visto-card {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1250px) {
  .category {
    width: calc(33% - 0.66rem);
    /* Compensa o gap */
  }

  .visto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .visto-card {
    width: 100%;
  }
}
