<div class="rail-featured">
  <div class="rail-featured__head">
    <div class="rail-featured__border-top">
      <span class="icon--svg icon--border" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="186" height="55" viewBox="0 0 186 55">
          <path d="M21.4 1L1 21.4V717h264.6l20.4-20.4V1H21.4z" mask="url(#border-line_svg__mask-2)"></path>
        </svg>
      </span>
    </div>
    <p class="rail-featured__title">Artigos</p>
    <p class="rail-featured__sub-title">Artigos em destaque</p>
  </div>
  <div class="rail-cards">
    <div class="mvl-card mvl-card--feed" *ngFor="let article of getRecentArticles(5)">
      <div class="mvl-card__feed-wrapper">
        <a class="card-overlay-frame" [routerLink]="['plataforma/view/view-artigos/article-page', article.id]" routerLinkActive="active">
          <div class="card-thumb-frame">
            <figure class="img__wrapper">
              <div class="built__background__wrapper">
                <img class="built__background built__background--single card-thumb-frame__thumbnail"
                  [ngSrc]="article.img"
                  [alt]="article.imgAlt"
                  loading="lazy" />
              </div>
            </figure>
          </div>
          <div class="card-overlay"></div>
        </a>
        <div class="card-body">
          <p class="card-body__unlinked">{{ article.category }}</p>
          <p class="card-body__headline">
            <a [routerLink]="['plataforma/view/view-artigos/article-page', article.id]">{{ article.title }}</a>
          </p>
          <div class="card-footer">
            <p class="card-footer__secondary-text">{{ article.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rail-featured__border-bottom">
    <span class="icon--svg icon--border" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="186" height="55" viewBox="0 0 186 55">
        <path d="M21.4 1L1 21.4V717h264.6l20.4-20.4V1H21.4z" mask="url(#border-line_svg__mask-2)"></path>
      </svg>
    </span>
  </div>
</div>