#cards-main{
    padding: 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18191e;
    flex-direction: column;
}

.nav-card{
    display: flex;
    width: 100%;
    height: 4em;
    background-color: #f8d3d3;
    position: fixed;
    z-index: 999999999;
    top: 0;
    justify-content: center;
    align-items: center;
}
.nav-card > button{
    width: 8em;
    height: 2em;
    border: none;
    box-shadow: 1px 1px 4px #304ebc;
    border-radius: 0.5em;
    text-transform: uppercase;
}
.nav-card > button:hover {
    background-color: #6379cb;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.cards-main__container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    width: 90vw;
    justify-items: center;
    margin-top: 2em;
}

.cards-container{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
}
.card-wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: blueviolet;
}
.cards-container:hover .card-wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    opacity: 0.7;
}
.card-wrapper::before,
  .card-wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.card-wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
}
.card-wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
}
.cards-container:hover .card-wrapper::before,
  .card-wrapper::after {
    opacity: 1;
}
  
.cards-container:hover .card-wrapper::after {
    height: 120px;
}
.card-wrapper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
    color: #fff;
}
.cards-container:hover .card-title{
    transform: translate3d(0%, -50px, 100px);
}

.card-cover{
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}
.cards-container:hover .card-cover{
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}